
/* closed chat */
#chat-component {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  overflow: hidden;
}

#chat-icon {
  width: calc((2.5vw + 2.5vh)/2);
  height: calc((2.5vw + 2.5vh)/2);
}

/* open chat */

#chat-window {
  width: 20vw;
  height: 40vh;
  background-color: #222;
  border: 1px solid #888;
  border-radius: 5px;
}

#chat-list {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#chat-players {
  list-style: none;
  width: 15%;
  min-width: 30px;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #888;
}

#current-chat {
  list-style: none;
  width: 85%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#current-chat-label {
  width: auto;
  border-bottom: 1px solid #888;
  list-style: none;
  height: 20%;
  padding: 0 0 0 10px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#chat-messages {
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

#message-input {
  margin: 0;
  max-lines: 1;
  max-width: 100%;
}

#chat-button {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}

#chat-close-button {
  background-color: transparent;
  color: white;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#current-chat-label-image {
  height: 80%;
  border-radius: 50%;
}

.chat-item-time-label {
  font-size: 0.6em;
}

.chat-players-item {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 10px; /* Add some margin for spacing */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.chat-players-item-image {
  max-width: 70%;
  height: auto;
  border-radius: 50%; /* Rounded corners */
  overflow: hidden;
}

.chat-players-item:hover {
  cursor: pointer;
}

.current-user-message {
  text-align: right;
}

.other-user-message {
  text-align: left;
}

.chat-item-border-bottom {
  border-bottom: 1px solid #444;
}

.chat-item {
  padding: 10px;
}

.chat-component.closed .chat-window {
  display: none;
}

.chat-unread-messages-count {
  font-size: calc((0.7vw + 0.7vh)/2);
  width: calc((1.3vw + 1.3vh)/2);
  height: calc((1.3vw + 1.3vh)/2);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right: 15%;
  bottom: 15%;
}