.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Fundo escuro translúcido */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Coloque acima de outros elementos */
}

.notification-dialog {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  max-height: 80%; /* Altura máxima do diálogo */
  overflow-y: auto; /* Ative a rolagem vertical quando necessário */
  width: 30%; /* Largura máxima do diálogo */
}

.notification-item {
  color: black;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.notification-item .title {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 5px;
}

.notification-item .description {
  font-weight: 400;
  font-size: medium;
}

.close-button {
  margin-top: 20px;
  cursor: pointer;
}

.no-notifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
}

.no-notifications-image {
  width: 100px; /* Defina o tamanho desejado para a imagem */
  height: 100px; /* Defina o tamanho desejado para a imagem */
  margin-bottom: 10px; /* Espaço entre a imagem e o texto */
}
